.mat-card{
  max-width: 60%;
  margin: 1em auto;
  text-align: center;
  margin-top: 5px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}

.title
 {
 display: flex;
 width: 100%;
 justify-content: center;

 }






.min-width {
  width: 100%;
  min-width: 150px;
}

.mat-label  {
  color:rgb(218, 212, 212);
}
.mat-option {
  color:rgb(184, 183, 183);
}

mat-card-content {
  padding:20px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
}
.full-width {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 8px;
 }
mat-card-actions {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.mat-mdc-card
{
  border: none;
  box-shadow: none;
}
