<mat-card class="container">
  <mat-toolbar class="title" >Cadastro</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="form">
      <mat-form-field class="full-width" appearance="fill">
        <input type="text"matInput placeholder="Ex. Lucas" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <input  type="email"  name="email"  matInput placeholder="Ex. pat@example.com" formControlName="email"  required >
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <input type="password" matInput placeholder="Senha" formControlName="password" required>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button  [disabled]="!form.valid" mat-raised-button (click)="onSubmit()" color="primary">Salvar</button>
    <button mat-raised-button (click)="onCancel()" color="warn">Cancelar</button>
  </mat-card-actions>

</mat-card>
