<div class="container">
  <mat-card >
    <mat-toolbar color="primary" >
      <span>Projetos Cadastradoss</span >
    </mat-toolbar>
    <div *ngIf="project$ | async as projetos; else loading " >
      <table mat-table [dataSource]="projetos" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let projetos"> {{  projetos.name }} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descricão </th>
          <td mat-cell *matCellDef="let projetos"> {{projetos.description}} </td>
        </ng-container >
        <ng-container matColumnDef="createdAt" >
          <th mat-header-cell *matHeaderCellDef> Criação</th>
          <td mat-cell *matCellDef="let projetos"> {{projetos.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container >
        <ng-container matColumnDef="updatedAt" >
          <th mat-header-cell *matHeaderCellDef> Atualização </th>
          <td  mat-cell *matCellDef="let projetos"> {{projetos.updatedAt  | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container >
        <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button  (click)="Add()"  mat-mini-fab color="accent" aria-label="adicionar serviço">
            <mat-icon  >add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let projeto">
          <button mat-icon-button  (click)=" onEdit(projeto)" color="primary" aria-label="Editar  serviço">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(projeto)"   aria-label="Remover  serviço">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="onTask(projeto)">
              <mat-icon>task</mat-icon>
              <span>Tarefas</span>
            </button>
          </mat-menu>
        </mat-cell>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading >
      <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
    </ng-template>

  </mat-card>
</div>
