
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}
mat-card {
  width: 100%;
  max-width: 1200px;
  margin-top: 15px;
}

mat-toolbar  {
  display: flex;
  justify-content: center;
}

span {
  font-size: 30px;
}
table {
  width: 100%;

}
td {
  padding: 10px;
}
th, mat-header-cell, mat-cell {
  height: 70px;
  font-size: 18px;
 }
.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.15);

}
