
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;

}
mat-card {
  width: 100%;
  max-width: 1200px;
  margin-top: 15px;
  border: solid 1px #d9d9d9;
  border-radius: 8px;
}

mat-toolbar  {
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
}

span {
  font-size: 30px;
}

div.tabela_container {
  width: 99%;
}
table {
  width: 100%;
  margin: 5px;
  box-shadow: none;
  color: #404040;

}
td, mat-header-cell, mat-cell {
  padding: 10px;
  font-size: 14px;
  color: #404040;
}
th  {
  font-size: 18px;
  color: #404040;
}

span.completo {
  font-size: 14px;
  color: #404040;
  height: 100px;
}
div.button_voltar {
  margin-top: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button_voltar  button{
  color:#fff;
  background-color: #20B200;
  padding: 20px;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px #d9d9d9;
  border-radius: 8px;

}
.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.15);

}
