<mat-card class="container">
  <mat-toolbar  class="title">Login</mat-toolbar>
  <mat-card-content>
    <form  [formGroup]="form" class="min-width" >
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email"  name="email"  matInput placeholder="Ex. pat@example.com" formControlName="email"  required >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <input  type="password"   matInput placeholder="password" formControlName="password"  required>
      </mat-form-field>
    </form>
    <mat-card-actions >

      <button [disabled]="!form.valid" type="submit" class="acoes" mat-raised-button color="primary" (click)="onLogar()">Entrar</button>
      <button  class="acoes" mat-raised-button  (click)="onCancel()" >Recuperar senha</button>
  </mat-card-actions>
  </mat-card-content>

</mat-card>
