.toolbar {
  display: flex;
  justify-content: space-between;
}


.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

mat-card  {
  flex: 1 1 auto;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: #d9d9d9 solid 1px;
  border-radius:8px;
}

mat-card-header {
  width: 100%;
  background-color: #d9d9d9;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;

}
mat-card-title {
  margin: 10px;
  padding: 10px;
  display: flex;
  font-size: 24px;
  color: #332F2E;
}


.btn{
  background-color: #2196f3;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
